.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 30px;
  pointer-events: none;
}

.App-header {
  height: 60px;
  width: 100%;
  background-color: gray;
  padding-top: 15px;
  text-align: center;
}

main {
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
