.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: auto;
  padding: 0;
  margin: 3rem auto;
  text-align: center;
  line-height: 1.25;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-skip: ink;
}

@media screen and (min-width: 40rem) {
  html {
    font-size: 120%;
  }
  h1, h2, p, a, input, button, ol, ul {
    transition: all .2s linear; 
  }
}

@media screen and (min-width: 51rem) {
  html {
    font-size: 125%;
    line-height: 1.5;
  }
  h1, h2, p, a, input, button, ol, ul {
    transition: all .2s linear; 
  }
}